<br>
<button class="btn btn-info" (click)="onAddButton()">Ajouter Article</button>
<div [hidden]="addIsHidden">
<br>
  <form #myAddForm="ngForm" ngNativeValidate>
      <label for="titre">Titre:</label><input type="text" id="titre" name="titre" class="form-control" [(ngModel)]="article.titre" required><br>
      <label for="prix">Prix: </label><input type="number" id="prix" name="prix" class="form-control" [(ngModel)]="article.prix" required><br>
      <label for="prix">Promotion: </label><input type="number" id="promo" name="promo" class="form-control" [(ngModel)]="article.promotionValue" required><br>
      <label for="desc">Description: </label><textarea id="desc" name="desc" cols="30" rows="3" class="form-control" [(ngModel)]="article.description" required></textarea><br>
      <label for="image">Image:</label><input type="file" id="image" name="image" accept="image/*" class="form-control" (change)="changeFileName($event)"><br>
      <button class="btn btn-success" (click)="onSubmit()" [disabled]="!myAddForm.valid" >Enregistrer</button>
      <button class="btn btn-danger" (click)="myAddForm.reset()" >Annuler</button>
  </form>
</div>



<div [hidden]="editIsHidden">
  <br>
    <form #myEditForm="ngForm" ngNativeValidate>
        <label for="titre">Titre:</label><input type="text" id="titre" name="titre" class="form-control" [(ngModel)]="article.titre" required><br>
        <label for="prix">Prix: </label><input type="number" id="prix" name="prix" class="form-control" [(ngModel)]="article.prix" required><br>
        <label for="prix">Promotion: </label><input type="number" id="promo" name="promo" class="form-control" [(ngModel)]="article.promotionValue" required><br>
        <label for="desc">Description: </label><textarea id="desc" name="desc" cols="30" rows="3" class="form-control" [(ngModel)]="article.description" required></textarea><br>
        <!-- <label for="image">Image:</label><input type="file" id="image" name="image" accept="image/*" class="form-control" (change)="changeFileName($event)"><br> -->
        <button class="btn btn-success" (click)="onEdit()" [disabled]="!myEditForm.valid" >Enregistrer</button>
        <button class="btn btn-danger" (click)="myEditForm.reset()" >Annuler</button>
    </form>
  </div>



<br><br>
<h4>Total : {{articles.length}} </h4>

<table class="table table-striped">
    <thead>
      <tr>
        <th ># ID</th>
        <th>Titre</th>
        <th>Prix</th>
        <th>Promotion</th>
        <th>Description</th>
        <th>Image</th>
        <th>Editer</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let art of articles">
        <td>{{art.id}}</td>
        <td>{{art.titre}}</td>
        <td>{{art.prix}}</td>
        <td><span *ngIf="art.promotionValue==0; else onPromotion">Aucune</span>
          <ng-template #onPromotion>
              {{art.promotionValue}}%
          </ng-template></td>
        <td>{{art.description}}</td>
        <td><img class="" [src]="articleService.pathPrefix+art.url" [alt]="art.titre"  width="auto" height="70"></td>
        <td><button (click)="onEditButton(art.id)" class="btn btn-primary">Edit</button></td>
        <td><button (click)="onSupp(art.id)" class="btn btn-danger">Supp</button></td>
      </tr>
    </tbody>
  </table>
